<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{ui/fragments/layouts :: header}">
  <title id="pageTitle">Список фильмов</title>
</head>
<body>
<div th:replace="~{ui/fragments/layouts :: menu}"></div>
<h2 class="text-center">Список фильмов</h2>
<hr>
<br>
<div th:fragment="films" class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div th:each="film: ${films}" class="col">
        <div class="card shadow-sm">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-1 text-center" th:text="${film.getName()}"></h3>
            <div class="d-flex justify-content-between align-items-center">
              <div class="text-body-secondary"
                   th:text="${'Дата релиза: ' + #temporals.format(film.getReleaseDate(), 'dd MMMM yyyy', new java.util.Locale('ru', 'RU'))}"></div>
              <p class="card-text" th:text="${film.getDuration() + ' мин.'}"></p>
            </div>

            <div class="d-flex" style="display: inline-block; padding-top: 5px; padding-right: 5px;">
              <p>Жанры: </p>
              <p th:each="genre : ${film.getGenres()}" th:text="${genre.getName() + ' '}"
                 style="padding-right: 5px;"></p>
            </div>

            <p class="card-text" th:text="${film.getDescription()}"></p>
            <p class="card-text" th:text="${'Рейтинг: ' + film.getMpa().getName() + ''}"></p>

            <div class="d-inline-flex">
              <p class="card-text" th:text="${'Режиссер: '}"></p>
              <ul class="d-inline-flex">
                <li th:each="directors : ${film.getDirectors()}" th:text="${directors.getName()}"
                    class="nav-link"></li>
              </ul>
            </div>

            <div class="text-end">
              <a th:href="@{/ui/reviews/?filmId={filmId}(filmId=${film.getId()})}"
                 class="text-body-secondary">Отзывы</a>
            </div>
            <div class="text-end">
              <a th:href="@{/ui/reviews/create(filmId=${film.getId()})}"
                 class="text-body-secondary">Добавить отзыв</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
</html>

