<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{ui/fragments/layouts :: header}">
  <title id="pageTitle">Отзывы о фильме</title>
</head>
<body>
<div th:replace="~{ui/fragments/layouts :: menu}"></div>
<h2 class="text-center" th:text="'Отзывы о фильме ' + ${film.getName()}"></h2>


<div class="container">
  <div class="px-4 text-center border-bottom">
    <div th:each="review: ${reviews}" class="col">
      <div class="card shadow-sm">
        <div class="col p-4 d-flex flex-column position-static">


          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <p class="card-text" th:text="'Имя пользователя: ' + ${users.get(review.getUserId()).getName()}"></p>
            </div>
            <div class="col">
              <p class="card-text" th:text="'Логин: ' + ${users.get(review.getUserId()).getLogin()}"></p>
            </div>
            <div class="col">
              <p class="card-text" th:text="'Email: ' + ${users.get(review.getUserId()).getEmail()}"></p>
            </div>
          </div>
          <hr class="featurette-divider">
          <p class="card-text" th:text="${review.getContent()}"></p>
          <p class="card-text" th:text="${review.getIsPositive() ? 'Положительный отзыв' : 'Отрицательный отзыв'}"></p>
          <p class="card-text" th:text="${'Полезность отзыва: ' + review.getUseful()}"></p>
        </div>
      </div>
      <hr class="featurette-divider">
    </div>

  </div>

</div>

</body>
</html>

