<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{/fragments/layouts :: header}">
  <title id="pageTitle">Отзывы о фильме</title>
</head>
<body>
<div th:replace="~{/fragments/layouts :: menu}"></div>
<h2 class="text-center" th:text="'Отзывы о фильме ' + ${film.getName()}"></h2>


  <div class="container">
    <div class="px-4 text-center border-bottom">
      <div th:each="review: ${reviews}" class="col">
        <div class="card shadow-sm">
          <div class="col p-4 d-flex flex-column position-static">
            <p class="card-text" th:text="${review.getContent()}"></p>
            <p class="card-text" th:text="${review.getIsPositive() ? 'Положительный отзыв' : 'Отрицательный отзыв'}"></p>
            <p class="card-text" th:text="${'Полезность отзыва: ' + review.getUseful()}"></p>
          </div>
        </div>
        <hr class="featurette-divider">
      </div>

    </div>

  </div>

</body>
</html>

