<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments/layouts :: header}">
    <title id="pageTitle">Добавление отзыва</title>
</head>
<body>
<div th:replace="~{fragments/layouts :: menu}"></div>
<h2 class="text-center">Добавление отзыва</h2>
<hr>

<div class="container">
    <form action="#" th:action="@{/review_create}" th:object="${review}" method="POST">
        <div class="form-group">
            <label for="content">Отзыв</label>
            <input id="content" type="text" th:field="*{content}" placeholder="Введите отзыв" class="form-control mb-4 col-4">
        </div>
        <button type="submit" class="btn btn-info col-2"> Сохранить </button>
    </form>
</div>
</body>
</html>